body{
    margin-left: 5.5%;
    font-family: 'Arial', serif;
    font-size:13px;
    line-height: 18px;
    background-color: black;
    }
.headnav{
    height:15%;
    width:94%;
    margin-bottom: 5px;
    position: fixed;
    z-index:1;
    margin-top: -24px;
}
nav{
    text-align: right;
    list-style: none;
    margin-right: 0px;
}
nav li{
    display: inline-block;
    padding: 5px 20px;
    
    margin-top:20px;
   }

nav li a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px  yellow;
    font-weight: bolder;
    font-size: 18px;
  }
nav li:hover{
    background-color: #CF5C3F;
    font-weight: bold;
    border-radius:5px;
}
#home_image img{
    width:100%;
    margin-top:82px;
    position :relative;
    -webkit-animation: move 5s infinite; 
    animation:move  5s infinite;
    height:500px;
  
}
.count{
    text-align-last: center;
    font-weight: bolder;
}
#count_down{
 color: white;
font-size: 16px;
}
#date_time{
   color:#CCCC00 ;
    font-weight: bolder;
    position: fixed;
    
    }
#long_text{
    padding: 10px;
    box-shadow: 0 2px 18px 0 rgba(0,0,0,.3);
    background-color:white;
    text-align: justify;
    font-size: 16px;
    clear: left;
    margin: 1%;
    width: 96%;
    height: 10%
}
.shopes{
    width: 31%;
    float: left;
    box-shadow: 2px 2px gray;
   margin: 1%;
}
.shops_head{
    width:100%;
    float: left;
     margin: 1%;
    background-color: #f6f6f6;
}
.shope_holder{
    clear: left;
    width:98%;
    height:300px;
    background-color: #f6f6f6;
    margin-bottom: 1%;
}
h2{
    color: black;
    text-shadow: 1px 1px  yellow;
    font-size:16px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    
}

.mainform{
    width:100%;
    height: 483px;
    margin-top: 7%;
}
.formsection{
    float:left;
    width:70%;
     color:white;
    
}
.sidebar{
    float:right;
    height: 400px;
    width:25%;
}
    

.footersection{
  width:100%;
  text-align: center;
  color:#CCCC00;
  font-size:18px;
  padding-top: 1%;
  clear:both;
    
}
.about{
	padding-top: 100px;
	text-align: justify;
	font-size: 16px;
}
.about p{
	background-color: white;
	color: black;
	padding:20px 12px 20px 12px;
}
.slideshow{
	margin-top: 80px;
}
.display-left{
	position: absolute;
	top:50%;
	left: 0%;
	transform: translate(0%, -50%);
	width: 50px;
	background-color:green;
	border-color: black;
}
.display-right{
	position: absolute;
	top:50%;
	right: 0%;
	transform: translate(0%, -50%);
	width: 50px;
	background-color:green;
	border-color: black;
}
.container{
	width: 98%;
	height: 690px;
	}
.quiz{
	height: 100px;
	width: 100%;
	margin-top: 60px;
	background-color: yellow;
	}
.quiz h1{
    text-align: center;
	padding-top: 35px;	}
.question{
	float: left;
	background-color: white;
	width: 72%;
	height: 82%;
	}
.praise{
	float: right;
	width: 27%;
	height: 99%;
	color:white;
	}
	